<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @repost.content %>
</p>

<p>
  <b>User:</b>
  <%= @repost.user_id %>
</p>

<p>
  <b>Micropost:</b>
  <%= @repost.micropost_id %>
</p>

<p>
  <b>Micropost:</b>
  <%= @repost.micropost_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @repost.created_at %>
</p>


<%= link_to 'Edit', edit_repost_path(@repost) %> |
<%= link_to 'Back', reposts_path %>
