<% if signed_in? %>
	<div class="container-fluid">
		<div class="row">
			<aside class="span4">
				<section id="user-home-stats" class="well well-small">
					<%= render 'shared/user_info' %>
				</section>
				<div id="post-form-well" class="well">
					<section>
						<%= render 'shared/micropost_form' %>
					</section>
				</div>
			</aside>
			<div class="span7 offset1">
				<h3 id="sound-stream">My Sound Stream</h3>
				<div class="well well-small"><%= render 'shared/feed' %></div>
			</div>
		</div>
	</div>
<% else %>	
	<div class="jumbotron masthead">
			<div class="container-fluid">

			    <div class="sub-header-section span4">
				    <h1>MUSERIK</h1>	  
				    <h2>New music discovering You.</h2>
				   
				    <span class="span3 home-sign-in pull-left">
						<%= form_for(:session, url: sessions_path) do |f| %>
					
							<%= f.text_field :email, placeholder: "Email" %>

							<%= f.password_field :password, placeholder: "Password" %>
							<%= f.submit "Sign in", class: "btn" %>
							<%= link_to "Forgot Password?", new_password_reset_path, class: "btn btn-mini", style: "color: black" %>
					<% end %>
					<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter-sign-in.png", :alt => "Twitter" %>
</a>
<a href="/auth/soundcloud" class="auth_provider"><%= image_tag "sc-connect.png", :alt => "Soundcloud" %></a>
					<span>
				
				</div>
			<!--
			<span>
				<a href="#signUp" role="button" class="btn btn-large btn-success" data-toggle="modal">Sign Up!</a>
			</span>
			<span>Or</span>
			<span>
				<a href="#signInModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Sign In</a>
			</span>
			-->
			<div class="beta-announce center">
				<div class="well well-small">
					<h2>Join Us!</h2><br>
					<h3 id="beta-notice" style="color: black;">Enter your email to gain access to the <%= link_to "Muserik", about_path %> private beta! We are inviting more people everyday!</h3>

						<%= form_for Invitation.new do |f| %>
						  <p>
						    <br>
						    <%= f.text_field :recipient_email, placeholder: "Your Email", id: "beta-text-field" %><br>
						    <%= f.submit 'Submit', class: "btn btn-primary" %>
						  </p>
						<% end %>
					<h5><%= link_to "What is Muserik?", about_path %></h5>
				</div>
			</div>
		</div>
	</div>
	
<!-- 	  <div class="status-log well">
	  	<%= render 'statuslog' %>
	  </div> -->

			<div class="modal hide fade in" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Sign In</h3>
				  </div>
					  <div class="modal-body">
					    			<%= form_for(:session, url: sessions_path) do |f| %>
								
										<%= f.label :email %>
										<%= f.text_field :email %>
							
										<%= f.label :password %>
										<%= f.password_field :password %>
										
										<p><%= link_to "Forgot Password?", new_password_reset_path %></p>
							
										<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
								<% end %>
						
								
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

					  </div>
				</div>	

<!--
			<div class="modal hide fade in" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Sign Up</h3>
				  </div>
					  <div class="modal-body">
					    			<%= form_for(:user, url: users_path) do |f| %>
											
							
											<%= f.label :name %>
											<%= f.text_field :name %>
								
											<%= f.label :email %>
											<%= f.text_field :email %>

											<%= f.label :username %>
											<%= f.text_field :username %>
											
											<%= f.label :password %>
											<%= f.password_field :password %>
											
											<%= f.label :password_confirmation, "Confirmation" %>
											<%= f.password_field :password_confirmation %><br>
											
											<%= f.check_box :accepted_terms %> I agree to the <%= link_to "Terms of Use", terms_path, target: '_blank' %>.
											<br>


											<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
									<% end %>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
				</div>	
			-->
<% end %>



