<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>

			<div id="post-form-well" class="well">
				<section>
					<%= render 'shared/micropost_form' %>
				</section>
			</div>
		</aside>
		<div class="span7 offset1">
			<h3 id="sound-stream">My Sound Stream</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>	
	<div class="center hero-unit well">
	  <h1>MUSERIK</h1>
	  <h2>New music discovering You.</h2>
	  <br>

	<span>
		<a href="#signUp" role="button" class="btn btn-large btn-success" data-toggle="modal">Sign Up!</a>
	</span>
	<span>Or</span>
	<span>
		<a href="#signInModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Sign In</a>
	</span>
	</div>
	  <div class="status-log">
	  	<%= render 'statuslog' %>
	  </div>

			<div class="modal hide fade in" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Sign In</h3>
				  </div>
					  <div class="modal-body">
					    			<%= form_for(:session, url: sessions_path) do |f| %>
								
										<%= f.label :email %>
										<%= f.text_field :email %>
							
										<%= f.label :password %>
										<%= f.password_field :password %>
										
										<p><%= link_to "Forgot Password?", new_password_reset_path %></p>
							
										<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
								<% end %>
						
								<p>New user? <%= link_to "Sign up now!", signup_path %></p>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

					  </div>
				</div>	


			<div class="modal hide fade in" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Sign Up</h3>
				  </div>
					  <div class="modal-body">
					    			<%= form_for(:user, url: users_path) do |f| %>
											
							
											<%= f.label :name %>
											<%= f.text_field :name %>
								
											<%= f.label :email %>
											<%= f.text_field :email %>
											
											<%= f.label :password %>
											<%= f.password_field :password %>
											
											<%= f.label :password_confirmation, "Confirmation" %>
											<%= f.password_field :password_confirmation %>
											<br>
											<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
									<% end %>
					  </div>
					  <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					  </div>
				</div>	
<% end %>



