<% users = User.all %>
<% suggested = users[0..1] %>
<ul>
<% suggested.each do |user| %>
	<li>
			<%= image_tag user.image_url(:mini).to_s %>
			<% if user.username? %>
				<%= link_to user.username, user %>
			<% else %>
				<%= link_to user.name, user %>
			<% end %>
			<span class="index-profile-summary"><%= user.summary %></span>
			<%= render 'users/follow_form' %>
	</li>
<% end %>
</ul>
