-provide(:title, @user.username)
.row
	%aside.span5
		%section.well.well-small#user-home-stats
			=link_to image_tag(@user.image.url(:thumb)), user_path(@user)
			-if @user.username?
				%h1{style: "clear:right;"}= @user.username
				=render 'follow_form' if signed_in?
			-else
				%h1{style: "clear:right;"}= @user.name
				=render 'follow_form' if signed_in?
			%br/
			%div{class: "statistics", style: "padding-bottom: 1em;"}
				=render 'shared/stats'
		-if @user.summary?
			%section.profile-summary.well.well-small
				=@user.summary
		%section
			%button= link_to "Send Message", new_user_private_message_path(@user, :to => @user.username, :class => "icon-envelope")
		%section
			%h5 Check out #{@user.username} on these platforms too!
			-if @user.soundcloud_link?
				= link_to image_tag("soundcloud.png"), @user.soundcloud_link, target: "_blank"
			-if @user.facebook_link?
				= link_to image_tag("facebook.png"), @user.facebook_link, target: "_blank"
			-if @user.twitter_link?
				= link_to image_tag("twitter_64.png"), @user.twitter_link, target: "_blank"
	%div.span7.offset1
		-if @user.microposts.any? || @user.retweets.any?
			%h3  Songs (#{@user.microposts.count + @user.retweets.count})
			%ul.playlist.well.well-small
				=render @microposts.by_new
			=will_paginate @microposts
		-else
			-if current_user == @user
				.empty-feed
					%h4 Music you post and repost shows up here
					%h5.well.well-small You can share music you like from #{link_to "Soundcloud", root_path}, or you can #{link_to "upload", root_path} your own songs
