<% provide(:title, @user.username) %>
<div class="row">
	<aside class="span3.5">
		<section id="user-home-stats" class="well well-small">
			<a href="<%= user_path(@user) %>">
	        	<%= image_tag @user.image.url(:thumb) %>
	      	</a>
	      	<% if @user.username? %>
		      	<h1 style="clear:right;"><%= @user.username %></h1>
					<%= render 'follow_form' if signed_in? %>
				</h1>
			<% else %>
		      	<h1 style="clear:right;"><%= @user.name %></h1>
					<%= render 'follow_form' if signed_in? %>
				</h1>
			<% end %>
	      	<br>
	     	<div class="statistics" style="padding-bottom: 1em;">
	            <%= render 'shared/stats' %>
	     	</div>
		</section>
		<% if @user.summary? %>
			<section class="profile-summary well well-small">
				<%= @user.summary %>
			</section>
		<% end %>
	</aside>
	<div class="span7 offset1">
		
		<% if @user.microposts.any? || @user.retweets.any? %>
			<h3> Songs (<%= @user.microposts.count + @user.retweets.count %>)</h3>
			<ul class="playlist">
				<%= render @microposts %>
			</ul>
			<%= will_paginate @microposts %>
		<% else %>
			<% if current_user == @user %>
				<div class="empty-feed">
					<h4>There is nothing here yet.</h4>
					<h5>Start by Following some people</h5>
					<h5>or</h5>
					<h5>Search for music above, and Post your own songs on the left</h5>
					<div id="suggested-users-well">
						<div class="well">
							<h6>Here are a few awesome people</h6>
							<ul class="users">
								<%= render 'users/suggested' %>
							</ul>
						<div>
						<h6>You can find more people to follow by clicking '<%= link_to "People", users_path %>' above.</h6>
					</div>	
				</div>
			<% end %>
		<% end %>
	</div>
</div>