<li id="<%= feed_item.id %>" class="<%= feed_item.genre %>">
	<a href="<%= feed_item.song_url.to_s %>" class="song-link btn btn-play"><i class="icon-play"></i></a>
	<div class="song"><%= link_to feed_item.title, feed_item, target: "_blank" %><span class="pull-right hashtag"><%= feed_item.hashtag %></span></div>
	<div class="artist">Artist: <%= feed_item.artist %></div>
	<div class="artist"><%= feed_item.genre %></div>
	<%= link_to image_tag(feed_item.user.image.url(:mini)), feed_item.user %>
	

	<div class="timestamp">
		<%= feed_item.user.name %> posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</div>

	<% if @user.retweeting?(feed_item) %>
		<%= render partial: 'shared/icon_retweet',  :locals => { object: feed_item } %>
	<% end %>

	<%= render partial: 'shared/retweetings_post_item',  :locals => { object: feed_item }  %> 	

	<% if current_user?(feed_item.user) %>
    	<%= render partial: 'shared/delete_links', :locals => { object: feed_item } %>
  <% end %>
  
  <% if feed_item.available? %>
  		<a href="#" class="btn dl-mini"><i class="icon-download"></i></a>
  <% end %>

</li>