<%= form_for @micropost, :html => {:multipart => true, class: ""} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
  	<%= f.label :song, class: "control-label" %>
  	<div> 
  	<%= f.file_field :song %>
  	</div>
  </div>
  <div>
  	<%= f.label :title, class: "control-label" %>
  	<div>
    <%= f.text_field :title, placeholder: "Song Title" %>
    </div>
  </div>
    <div>
  	<%= f.label :artist, class: "control-label" %>
  	<div>
    <%= f.text_field :artist, placeholder: "Artist" %>
    </div>
  </div>
    <div>
  	<%= f.label :genre, class: "control-label" %>
  	<div>
    <%= f.select(:genre, [['None', nil], ['Electronic', 'Electronic'], ['Rock', 'Rock'], ['Country', 'Country'], ['Rap', 'Rap'], ['Classical', 'Classical'], ['Pop', 'Pop']]) %>
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>