<a href="<%= user_path(current_user) %>">
  <%= image_tag current_user.image_url(:thumb).to_s %>
</a>
<h1>
  	<% if current_user.username? %>
		<%= current_user.username %>
	<% else %>
		<%= current_user.name %>
	<% end %>
</h1>
		<% if current_user.summary? %>
			<section class="profile-summary">
				<%= current_user.summary %>
			</section>
		<% else %>
			<section class="profile-summary">
				<p>(Update your summary in 'Settings')</p>
			</section>
		<% end %>
<span>
  <%= link_to "My Profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "post") %>
</span>