<a href="<%= user_path(current_user) %>">
       <a href="<%= user_path(current_user) %>">
        <%= image_tag current_user.image.url(:thumb) %>
      </a>
      <h1 style="clear:right;"><%= current_user.name %></h1>
      <br>
      <div class="statistics" style="padding-bottom: 1em;">
            <%= render 'shared/stats' %>
      </div>
		<% if current_user.summary? %>
			<section class="profile-summary" style="margin-top:2em;">
				<%= current_user.summary %>
			</section>
		<% else %>
			<section class="profile-summary" style="margin-top:2em;">
				<p>(Update your summary in 'Settings')</p>
			</section>
		<% end %>