<%= form_for @private_message, :url => user_private_messages_path(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <p>
    To:<br />
    <%= f.text_field :to, value: params[:to] %>
  </p>
  <p>
    Subject:<br />
    <%= f.text_field :subject, placeholder: "Subject" %>
    </p>
    <p>
    Message<br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= submit_tag "Send" %>
    </p>
<% end %>