<div class="well">
<p><strong>From:</strong> <%= @private_message.sender == @user ? link_to("You", user_path(@user)) : link_to(h(@private_message.sender.username), user_path(@private_message.sender)) %></p>
<p><strong>Received:</strong> <%= @private_message.created_at.to_s(:long) %></p>
<p><strong>To:</strong> <%= @private_message.recipient == @user ? link_to("You", user_path(@user)) : link_to(h(@private_message.recipient.username), user_path(@private_message.recipient)) %></p>
<p>
  <strong>Message</strong><br />
  <%=h @private_message.body %>
</p>
<p>
  <% if @private_message.recipient == @user %>
	  <%= link_to "Reply", new_user_private_message_path(@user, :reply_to => @private_message) %> |
  <% end %>
  <%= link_to "Inbox", user_private_messages_path(@user)%>
</p>
</div>
