%li{:class => micropost.genre, :id => micropost.id}
  - if micropost.sc_link?
    - url = micropost.sc_link
  -else
    - url = micropost.song_url.to_s
  %a.song-link{:href => url, :type => "audio/mp3"}
    = micropost.title
    %i.icon-play{:style => "margin-left: .5em;"}
  .song
    %span.pull-right.btn.btn-mini
      = link_to "", micropost, class: "icon-share", target: "_blank"
      %span
  .artist
    Artist: #{micropost.artist}
  .artist= micropost.genre
  = link_to image_tag(micropost.user.image.url(:mini)), micropost.user, class: "user-prof-pic"
  - if micropost.retweeters.count > 0
    %strong= pluralize(micropost.retweeters.count, "Repost")
  .timestamp
    = micropost.user.username
    posted #{time_ago_in_words(micropost.created_at)} ago.
  .vote-arrows-profile
    = link_to "", vote_up_micropost_path(micropost), :method => :put, class: "icon-arrow-up"
    = micropost.likes.size
    = link_to "", vote_down_micropost_path(micropost), :method => :put, class: "icon-arrow-down"
  - if signed_in?
    - if current_user.retweeting?(micropost)
      = render partial: 'shared/icon_retweet', :locals => { object: micropost }
    - if current_user?(micropost.user)
      = render partial: 'shared/delete_links', :locals => { object: micropost }
    = render partial: 'shared/retweetings_post_item',  :locals => { object: micropost }
    = render partial: 'shared/favorites_post_item', :locals => { object: micropost }