<% @micropost.comments.each do |c| %>
	<div class="well well-small">
		<% comment_user = User.find(c.user_id) %>
		<strong><%= link_to comment_user.username, comment_user %></strong> <em><%= c.created_at.to_date %></em>
		<p><%= c.comment %></p>
		<% if comment_user == current_user %>
			<%= link_to "Delete", comment_path(c), method: :delete, data: { confirm: "You sure?"}, style: "color:red;" %>
		<% else %>
			<%= link_to "Message", new_user_private_message_path(comment_user, :to => comment_user.username) %>	
		<% end %>
	</div>
<% end %>