<% @user = current_user %>
<div class="span4">
	<ul class="playlist">
		<li id="<%= @micropost.id %>" class="<%= @micropost.genre %>">
			<% if @micropost.sc_link? %>
				<% url = @micropost.sc_link %>
			<% else %>
				<% url = @micropost.song_url.to_s %>
			<% end %>
			<a href="<%= url %>" class="song-link" type="audio/mp3"><%= @micropost.title %><i class="icon-play" style="margin-left: .5em;"></i></a>
			<div class="artist">Artist: <%= @micropost.artist %></div>
			<div class="artist"><%= @micropost.genre %></div>
			<%= link_to image_tag(@micropost.user.image.url(:mini)), @micropost.user, style: "padding-top: 1.5em;" %>
			
			<% if @micropost.retweeters.count > 0 %>
				<strong><%= pluralize(@micropost.retweeters.count, "Repost") %></strong>
			<% end %>

			<div class="timestamp">
				<%= @micropost.user.username %> posted <%= time_ago_in_words(@micropost.created_at) %> ago.
			</div>

			<% if signed_in? %>
				<% if current_user.retweeting?(@micropost) %>
						<%= render partial: 'shared/icon_retweet', :locals => { object: @micropost } %>
				<% end %>
				

				<% if current_user?(@micropost.user) %>
			    	<%= render partial: 'shared/delete_links', :locals => { object: @micropost } %>
			  	<% end %>
			  	<%= render partial: 'shared/retweetings_post_item',  :locals => { object: @micropost }  %> 		

		  	<% end %>
		  	
		</li>
	</ul>
	<div class="span6 center" id="comment-form">
		<%= form_tag(micropost_comments_path(@micropost.id)) do %>
		<%= text_area_tag :comment, nil, id: "song-comment-box" %>
		<%= submit_tag "Post comment" %>
		<% end %>
	</div>
	<div class="span6" id="comment-stream">
		<% @micropost.comments.each do |c| %>
			<div class="well well-small">
				<% comment_user = User.find(c.user_id) %>
				<strong><%= link_to comment_user.username, comment_user %></strong> <em><%= c.created_at.to_date %></em>
				<p><%= c.comment %></p>
				<%= link_to "Message", new_user_private_message_path(comment_user, :to => comment_user.username) %>
				<% if comment_user == current_user %>
				<%= link_to "Delete", comment_path(c), method: :delete, data: { confirm: "You sure?"} %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>