<div class="span6">
	<ul class="playlist">
		<li id="<%= @micropost.id %>" class="<%= @micropost.genre %>">
			<a href="<%= @micropost.song_url.to_s %>" class="song-link btn btn-play"><i class="icon-play"></i></a>
			<div class="artist">Song: <%= @micropost.title %><span class="pull-right"><%= @micropost.genre %></span></div>
			<div class="artist">Artist: <%= @micropost.artist %></div>
			<%= link_to image_tag(@micropost.user.image.url(:mini)), @micropost.user %>
			
			

			<div class="timestamp">
				<%= @micropost.user.name %> posted <%= time_ago_in_words(@micropost.created_at) %> ago.
			</div>

			<% if signed_in? %>
				<% if current_user.retweeting?(@micropost) %>
						<%= render partial: 'shared/icon_retweet', :locals => { object: @micropost } %>
				<% end %>
				

				<% if current_user?(@micropost.user) %>
			    	<%= render partial: 'shared/delete_links', :locals => { object: @micropost } %>
			  	<% end %>
			  	<%= render partial: 'shared/retweetings_post_item',  :locals => { object: @micropost }  %> 		

		  	<% end %>
		  	
		</li>
	</ul>
	<% if @micropost.hashtag? %>
	<% variable = "silly" %>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		<div class="center">
			<%= link_to "Comment", "http://twitter.com/intent/tweet?hashtags=#{@micropost.hashtag}&url=http%3A%2F%2Fwww.muserik.com%2Fmicroposts%2F#{@micropost.id}", class: "btn btn-primary btn-large" %>
		</div>
		<h6 style="text-align: center; width: 30em; margin: 0 auto;"><%= link_to "Comment", "http://twitter.com/intent/tweet?hashtags=#{@micropost.hashtag}&url=http%3A%2F%2Fwww.muserik.com%2Fmicroposts%2F#{@micropost.id}" %> by sending a tweet using the hashtag "#<%= @micropost.hashtag %>".</h6>
			<div class="span6">
				<% Twitter.search("##{@micropost.hashtag} -rt", :count => 30, :result_type => "recent").results.map do |tweet| %>
					<div class="well well-small"><strong><%= "@#{tweet.from_user}" %></strong><%= ": #{tweet.text}" %></div>
				<% end %>
			</div>	
	<% end %>
</div>