<footer class="footer">
	<span>
		MUSERIK - Music Discovering You
	</span>
	<nav>
		<ul>
			<li><%= link_to "About", about_path, class: "btn btn-mini" %></li>
			<li><%= link_to "Contact", new_message_path, class: "btn btn-mini" %></li>
      		<li><%= link_to "FAQs", help_path, class: "btn btn-mini" %></li>
      		<li><%= link_to "Terms of Use", terms_path, class: "btn btn-mini" %></li>
      		<li><%= link_to "Privacy Policy", privacy_path, class: "btn btn-mini" %></li>
    	</ul>
  	</nav>
  		<span><a href="https://twitter.com/muserik_site" class="twitter-follow-button" data-show-count="false">Follow @muserik_site</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span>
	<span>    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="http://www.facebook.com/pages/Muserik/169480169856669" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div></span>
</footer>