<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/shim' %> 
    <%= analytics_init if Rails.env.production? %>   
  </head>
  <body style="<%= show_user_bg %>">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
    <% @user ||= current_user %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>    
  </body>
</html>